.heading1{
    color: rgb(24, 23, 23);
    background-color: rgb(111, 187, 245);

}
    .heading1{
        color: rgb(241, 15, 15);
        background-color: rgb(9, 9, 9);
    


}
.font-style{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;

}